* {
	margin: 0;
	padding: 0;

}
.grid div:nth-child(odd) {
	//background-color: black;
}
.grid div:nth-child(even) {
	//background-color: #d5f5ec;
}

.grid {
	display: grid;
	color: black;
	background-color: #d5f5ec;
	//grid-gap: 10px;
	grid-template-columns: 3fr 3fr 1fr 4fr 1fr 4fr 3fr 3fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas:
	"one one ten ten eleven eleven twelve twelve"
	"two two three three three four five five"
	"two two three three three four five five"
    "six seven seven eight nine nine five five"
    "six seven seven eight nine nine five five";
}
.one {
	grid-area: one;
	background-color: black;
	padding: 10px;
}

.one > h1 {
font-size: 70px;
color: #d5f5ec;
font-family: Quantify;
}
.one > p {
font-size: 40px;
color: #178a69;
font-family: Quantify;
}
.ten {
	background-color: black;
	grid-area: ten;
}
.eleven {
	background-color: black;
	grid-area: eleven;
}
.eleven > h2 {
	font-size: 70px;
	color: #d5f5ec;
	font-family: Quantify;
	text-align: center;
}
.ten > .vl {
  border-left: 5px solid #d5f5ec;
  float:right;
  height: 80%;
}
.twelve {
	background-color: black;
	grid-area: twelve;
}
.two {
	grid-area: two;
	background-color: #d5f5ec;
	padding: 10px;
}
.three {
	grid-area: three;
	background-color: #d5f5ec;
	padding: 5px;
}
.four {
	grid-area: four;
	background-color: #d5f5ec;
	border-style: dashed;
	border-width: 5px;
	border-color: black;
}
.five {
	grid-area: five;
	background-color: white;
}
.five > h2 {
font-size: 40px;
color:  #178a69;
text-align: center;
font-family: Quantify;
}
.five > center {
font-size: 50px;

}
.five > p {
font-size: 20px;
color:  black;
text-align: center;
font-family: Montserrat;
}
.six {
	grid-area: six;
	background-color: #d5f5ec;
	padding: 10px;
}
.seven {
	grid-area: seven;
	background-color: #d5f5ec;
	padding: 5px;
}
.eight {
	grid-area: eight;
	background-color: #d5f5ec;
	padding: 5px;
}
.nine {
	grid-area: nine;
	background-color: #d5f5ec;
	border-style: dashed;
	border-width: 5px;
	border-color: black;
	padding: 10px;
}
